.app.light-theme {
    --primary-body-bg-color: var(--albescent-white);
    --component-primary-bg-color: var(--white);
    --secondary-component-bg-color: var(--calico);
    --extra-component-bg-color: var(--rust);
}
